a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

.Section {
  font-size: 12px;
}

.QuestionHeader {
  font-size: 20px;
  font-weight: bold;
}

.mat-selection-list {
  display: flex;
  flex-direction: row;
}

.mat-radio-button {
  margin-right: 10px;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.mat-selection-list {
  display: flex;
  flex-direction: row;
}

.mat-radio-button {
  margin-right: 10px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: blue !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: blue !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: blue !important;
  ;
}

.level {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Afternoon-Report {
  width: 120px;
  height: 18px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Reported-by {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
